[Unit]
Description={{ description }}
After={{ after }}

[Service]
Type=simple
WorkingDirectory={{ working_directory }}
ExecStart={{ working_directory }}/run.sh
Restart={{ restart_policy }}
User={{ service_account }}
Group={{ service_account }}

[Install]
WantedBy={{ target }}